<!DOCTYPE html>
<!--
 ! Excerpted from "Web Development with Clojure, Second Edition",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/dswdcloj2 for more book information.
-->
<html>
  <head>
      <link rel="stylesheet" href="style.css" />
      <title>{% block title %}My amazing site{% endblock %}</title>
  </head>
  <body>
      <div id="content">
          {% block content %}default content{% endblock %}
      </div>
  </body>
</html>
